.App {
}

.navBar {
	padding-top: 7px ;
}

.nav-left:first-child{
	margin-right: auto;
}

.navBar, .nav-left , .nav-Center , .nav-Right{
	display: flex;
	align-items: center;
}

.nav-Center {
	flex: 0.6;
}

.nav-Right:last-child{
	padding-right: 25px;
	margin-left: auto;
}

.searchBar .MuiOutlinedInput-root , .signIn .MuiOutlinedInput-root{
	border-radius: 50px 0 0 50px;
}

.signIn{
border: 1px solid;
}

.searchBar {
	flex: 0.9;
	border: 1px solid;
}

.searchButton {
	flex: 0.1;
	height: 3em;
	border-radius: 0 50px 50px 0;
	border: 1px solid #d3d3d3;
}


.filterContent {
	width: 81%;
}

.filterTab {
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 9%;
	background-color: white;
	width: 100%;
}

::-webkit-scrollbar{
	width:5px;
	background-color: red
}

.sideBar{
	overflow-y: hidden;
	overflow: hidden;
	display: flex;
	position: sticky;
	overflow-y: scroll;
	flex-direction: column;
	flex-wrap: wrap;
	width: 18%;
	justify-content: center;
}

.categoryBar{
	display: flex;
	width: 80%;
	padding: 4%;
	border-radius: 15% ;
	align-items: center;
	height: 30px;
}

.categoryText{
	margin-left: 20%;
	}

	.shrinkSideBar{
		width: 5%;
	}

	.__shrinkSideBar{
	margin-left: 3px;
	padding: 4%;
	width: 100%;
	height: 22%;
	margin-bottom: 4px;
}

.container {
	display: flex;
	gap: 12vh;
	width: 82%;
	position: absolute;
	top: 20%;
	left:18%;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: white;
}

.box-1 {
	align-items:center;
	height: 250px;
	width: 290px;
	border-radius: 5%;
}

.video {
	background-color: wheat;
	height: 64%;
	width: 100%;
	overflow: hidden;
	border-radius: 10% ;
}

.channel {
	display: flex;
	height: 30%;
	border-radius: 0% 0% 7% 7%;
}

.channelIcon {
	flex: 0.2;
}

.description{
	display: flex;
	flex:0.8;
	flex-direction: column;
}

.videoName {
	display:flex;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 30%;
	line-height: 185%;
	font-size: 90%;
}

.channelName {
	margin-top: -3%;
	width: 100%;
	font-size: small;
}

.views {
	display:inline-block;
	width: 50px;
	font-size:x-small;
}

.time {
	display: inline-block;
	width: max-content;
	font-size:x-small;
}
