.App {
	display: flex;
	flex-wrap: wrap;
}

.navBar {
	display: flex;
	align-items: center;
	height: 65px;
	width: 100%;
	justify-content: space-between;
}

.navLeft{
	display: flex;
	flex-direction: row;
	margin-left: 3%;
}

.logo{
	height:18%;
	width: 20%;
	margin-left: 25%;
}

.navCenter {
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: center;
	align-items: center;
}

.searchBar {
	border: 1px solid ;
	width:70%;
}

.searchButton {
	border: 1px solid black;
	height: 40px;
}

.navRight {
	display: flex;
	flex-direction: row;
	width: 13%;
}

.sideBar{
	display: inline;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	width: 18%;
	justify-content: center;
}

.categoryBar{
	display: flex;
	width: 80%;
	padding: 4%;
	border-radius: 15% ;
	align-items: center;
	height: 30px;
}

.categoryText{
	margin-left: 20%;
	}

.container {
	display: flex;
	gap: 12vh;
	width: 82%;
	position: absolute;
	top: 12%;
	left:18%;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: white;
}


.box-1 {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	height: 230px;
	width: 25%;
	background-color:plum;
	border:2px solid;
}

.video {
	background-color: wheat;
	height: 70%;
	width: 100%;
}

.channel {
	display : flex;
	flex-wrap: wrap;
	flex-direction: row;
  background-color: grey;
	height: 30%;
	width: 100%;
}

.channelIcon {
	height: 10px;
	width:48px;
}

.description{
	display: flex;
	flex-wrap:wrap ;
	height: 95%;
	width: 80%;
	word-wrap: break-word;
	overflow-y: hidden;
}


.videoName {
	height: 70%;
	width: 100%;
}


.channelName {
	height: 70%;
	width: 100%;
}

